body{
    margin: 0;
    font-family: 'Comic Neue', cursive;
}
h1{
    font-size: 50px;
}
h2{
    margin-top: 0%;
    font-size: 30px;
}
p{
    color: dimgray;
}
.top-banner{
    background-image: url("Personal-website-resources/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
section{
    height: 700px;
    padding-bottom: 0px;
}
.name-highlight{
    color: crimson;
}
.half-width{
    width: 35%;
    float: left;
    padding-left: 2px;
    margin-left: 10%;
    margin-top: 10%;   
}
.half-width img{
    width: 100%;
    margin-left: 10%;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: powderblue;
    background-image: linear-gradient(45deg, lightsalmon, tomato
    );
    
}
.biography{
    background-image: url("personal-website-resources/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 140;
}
#text-center{
        text-align: center;
}
.my-latest-work{
    background-size: 100%;
    background-image: url("personal-website-resources/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

.three-width{
    width: 30%;
    float: left;

}
.three-width img{
    width: 100%;
    margin-left: 10%;
}

.box{
    height: 100px;
    width: 800px;
    border: 1px solid crimson;
    margin-left: 20%;
    padding: 2%;
    background-image: linear-gradient(45deg, rgb(252, 74, 4), rgb(240, 50, 16)    );
    border-radius: 5px;
}
.box{
    height: 100px;
    width: 800px;
    border: 1px solid crimson;
    margin-right: 20%;
    margin-left: 20%;
    padding: 2%;
    background-image: linear-gradient(45deg, rgb(252, 74, 4), rgb(240, 50, 16)    );
    border-radius: 5px;
}
#foot{
    text-align: center;
    margin-top: 100px;
}
.whatclintaresay{
    background-image: url("Personal-website-resources/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;

    
}

